body{
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 300px;
    margin-left: 200px;
    margin-top: 100px;
}

header{
    display:inline;
}
button {
    background-color:black;
    color: white;
    padding:10px;
    border: none;
}
image{
    margin-right: 800px;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: gray;
    margin: 6px 0;
}

.container {
    display: inline-block;
    float: right;
    cursor: pointer;


    }
#text1 {
    text-align: left;
    width: 400px;
}

#main{
    margin-top: 150px;
}



.topnav{
    margin-top:400px;
    overflow: hidden;
    text align: left;
    line-height: 0.5em;
}

#item1{
    float:left;
    display: inline-block;
    padding: 2px 2px;
    margin-right: 50px;
}

#item2{
    float:left;
    display: inline-block;
}

.sidenav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    display: block;
    z-index: 1; 
    top: 0; 
    right: 0;
    font-size: 25px;
    background-color: #111; /* Black*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
 }
 
 .sidenav a:hover {
    color: gray;
 }
 #mySidenav{
    margin-left: 200px;
    padding-top: 200px;
    position: fixed;
    display: block;
 }
 .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    overflow: hidden;
    background-color:0px 8px 16px 0px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 #main {
    transition: margin-left .5s;
    padding: 20px;
 }
 @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
 }

 .dropdown-content{
    overflow: hidden;
 }
 .sidenav a {
    font-size: 20px;
    color:#F5F4F6;
    margin-left:150px;
    padding: 14px 16px;
    text-decoration: none;
 } 
  
 .dropdown {
    overflow: hidden;
    font-size: 20px;
    color:#F5F4F6;
    margin-left:150px;
 }

 .dropdown .dropbtn {
    font-size: 20px;   
    border: none;
    outline: none;
    color: #F5F4F6;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
 }

 .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:0px 8px 16px 0px;
    overflow: hidden;
 }
 
 .dropdown-content {
    display: none;
    position: left;
    border: none;
    background-color: 0px 8px 16px 0px ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 }

 .dropdown-content a {
    float: none;
    color: #F5F4F6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }
 
 .dropdown-content a:hover {
    background-color: 0px 8px 16px 0px rgba(0,0,0,0.2);
 }
 
 .dropdown:hover .dropdown-content {
    display: block;
 }
   
 #item3{
     overflow: hidden;
     float:right;
     margin-right:500px;
 }
 .oculta{
    visibility:hidden;
 }
 footer{
    float:left;
    display: inline-block;
    padding: 2px 2px;
    margin-right: 50px;
    color:white;
 }

 span{
     float: right;
 }