body{
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 300px;
    margin-left: 200px;
    margin-top: 100px;
}

header{
    display:inline;
}
button {
    background-color:black;
    color: white;
    padding:10px;
    border: none;
}
image{
    margin-right: 800px;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: gray;
    margin: 6px 0;
}

.container {
    display: inline-block;
    float: right;
    cursor: pointer;


    }
    #text1 {
    text-align: left;
    width: 400px;
}

#main{
    margin-top: 150px;
}

#item1{
    text-align: left;
    display: inline-block;
    padding: 12px 20px;
    margin-top: 400px;
}
#item2{
    display: inline-block;
    margin-top: 400px;
}

.cont{
    overflow: hidden;
}